body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #f5c518;
    margin-top: 50px;
}

p {
    font-size: 18px;

}

.titreSimulator {
    color: black;   /* ou la couleur que tu veux */
    text-align: center;
    margin-bottom: 20px;
}
