body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #f5c518;
    margin-top: 50px;
}

p {
    font-size: 18px;

}

.titreSimulator {
    color: black;   /* ou la couleur que tu veux */
    text-align: center;
    margin-bottom: 20px;
}


a.onglet {
    color: #f5c518;       /* couleur jaune comme tes h1 */
    text-decoration: none; /* enlève le soulignement */
    font-weight: bold;
    margin: 10px;
    display: inline-block;
}

a.onglet:hover {
    color: white;         /* couleur au survol */
}

