body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #f5c518;
    margin-top: 50px;
}

p {
    font-size: 18px;

}

.simulator {
    margin: 50px auto;
    padding: 20px;
    width: 300px;
    background-color: white; /* Fond blanc */
    border-radius: 10px;
    color: black; /* Texte noir pour contraste */
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Petit effet ombre */
}

.simulator select, .simulator button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#resultat {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
